.header {
    display: flex;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 10rem;
    border-bottom: 1px solid #ccc;

}

.navegador ul {
    display: flex;
    list-style: none;
    padding: 1rem;
}

.navegador li {
    margin-left: 20px;
}

.navegador a {
    text-decoration: none;
    color: #333;
}

#boton-contacto {
    padding: 10px 20px;
    border: 1px solid #333;
    border-radius: 5px;

}

.titulo {
    font-size: 26px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

#imagen-articulo1 {
    width: 25rem;
    height: 25rem;
    border: #333 solid 1px;

}

.articulo1 {
    display: flex;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 5rem;
}